certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
cloudpickle==1.6.0
cryptography==3.4.6
cycler==0.10.0
dask==2021.2.0
Deprecated==1.2.11
distributed==2021.2.0
entrypoints==0.3
fsspec==0.8.7
future==0.18.2
h5py==3.1.0
HeapDict==1.0.1
idna==2.10
joblib==1.0.1
Keras==2.4.3
keyring==12.0.2
keyrings.alt==3.1
kiwisolver==1.3.1
locket==0.2.1
matplotlib==3.3.4
msgpack==1.0.2
numpy==1.20.1
pandas==1.0.3
pandas-validator==0.5.0
partd==1.1.0
patsy==0.5.1
pdkit==1.2
PDKitRotationFeatures==0.0.2
Pillow==8.1.0
psutil==5.8.0
pycparser==2.20
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2021.1
PyWavelets==1.1.1
PyYAML==5.4.1
requests==2.25.1
scikit-learn==0.24.1
scipy==1.6.1
SecretStorage==2.3.1
six==1.15.0
sortedcontainers==2.3.0
statsmodels==0.12.2
synapseclient==2.2.2
tblib==1.7.0
threadpoolctl==2.1.0
toolz==0.11.1
tornado==6.1
tqdm==4.58.0
tsfresh==0.17.0
urllib3==1.26.3
wrapt==1.12.1
zict==2.0.0
